extends ../layout.pug
include ../mixins.pug
block scripts 
  script(src="/script/listener.js",defer)
  script(src="/script/pacientes.js",defer) 
block navbar
  include ../mixinsNavbar.pug
  +navbarAdmision
  
block main
  
  //-+debug(locals)

  .w-75.container
    +alert(mensajeAlert,alertClass)

  div.container-md.border.border-2.border-dark.rounded-3.d-flex.justify-content-center.align-items-center.form-box
    form.p-4(novalidate, action="/admision/crearPaciente", method="POST")
      .mb-3.d-flex.align-items-center.gap-2
        h2.mx-auto.mb-0 Admision
        .mb-3.d-flex.align-items-center.gap-2.p-1
          label.mb-0(for="id_persona") ID:
          input.form-control#id_persona(type="text", name="id_persona", value=(paciente && paciente.id_persona) || "",readonly)
      br
      .row
        .col
          .mb-3  
            label.form-label(for="dni") DNI*
            .input-group
              input.form-control(type="number", id="dni", placeholder="48455713", value=(paciente && paciente.dni) || dni || "", name="dni")
              button.btn.btn-outline-secondary.text-light(type="button", id="btnBuscar") Buscar

            input.d-none(type="checkbox", name="emergencia",id="emergencia")
          .mb-3
            label.form-label(for="nombre") Nombre*
            input.form-control(type="text", id="nombre", placeholder="Juan Carlos", value=(paciente && paciente.nombre) || "", name="nombre")

          .mb-3
            label.form-label(for="apellido") Apellido*
            input.form-control(type="text", id="apellido", placeholder="Sosa Perez", value=(paciente && paciente.apellido) || "", name="apellido")
            
          .mb-3
            label.form-label(for="f_nacimiento") Fecha de Nacimiento*
            input.form-control(type="date", id="f_nacimiento",value=(paciente && paciente.f_nacimiento) || "", name="f_nacimiento")

          .mb-3
            label.form-label Genero*
            select.form-select(name="genero",id="genero")
              option(value="Femenino", selected=(paciente && paciente.genero === "Femenino")) Femenino
              option(value="Masculino", selected=(paciente && paciente.genero === "Masculino")) Masculino
              option(value="Otro", selected=(paciente && paciente.genero === "Otro")) Otro
          .mb-3
            label.form-label(for="direccion") Direccion*
            input.form-control(type="text", id="direccion", placeholder="Av. San Martin 1234", value=(paciente && paciente.direccion) || "", name="direccion")
        .col      
          .mb-3
            label.form-label(for="telefono") Telefono
            input.form-control(type="tel", id="telefono", placeholder="2665451236", value=(paciente && paciente.telefono) || "", name="telefono")

          .mb-3
            label.form-label(for="contacto") Telefono Contacto
            input.form-control(type="tel", id="contacto", placeholder="2665451236", value=(paciente && paciente.contacto) || "", name="contacto")

          .mb-3
            label.form-label(for="mail") Email
            input.form-control(type="mail", id="mail", placeholder="usuario@mail.com", value=(paciente && paciente.mail) || "", name="mail")


          .mb-3
            +select("id_obra_social",arregloObraSociales,id_obra_social, "Obra Social")

          .mb-3
            label.form-label(for="cod_os") Numero Obra Social*
            input.form-control(type="text", id="cod_os", placeholder="OS1234", value=(paciente && paciente.cod_os) || "", name="cod_os")

          .mb-3
            label.form-label Detalle
            textarea.form-control(id="detalle", rows="3", placeholder="Escriba un mensaje", name="detalle")= (paciente && paciente.detalle) || ""

        br
      .d-flex.justify-content-between
        button.btn.btn-primary(type="submit", onclick="this.form.action='/admision/modificarPaciente'") Modificar Paciente
        button.btn.btn-primary(type="submit", onclick="this.form.action='/admision/crearPaciente'") Crear Paciente
        
  