extends ../layout.pug
include ../mixins.pug
block navbar
  include ../mixinsNavbar.pug
  +navbarAdmision
block main 
  +alert(mensajeAlert, alertClass)
  div.container.mt-3.p-3.bg-body-secondary.rounded-5
    h1 Bienvenido al inicio
    p Encontraras 3 secciones: Pacientes, Admision y Habitaciones
    dl
      dt Pacientes:
      dd Gestion: Permite registrar/modificar un paciente en el sistema.
      dd Lista: Enlista todos los pacientes registrado en el sistema.
      dd Ver Turnos: Muestra los turnos existentes.
      dd Gestion Turnos: Permite crear/modificar turnos de un paciente.

      dt Admision
      dd Admision: Se registra/modifica la admision de un paciente, tambien crea pacientes de emergencia.
      dd Cambiar Paciente de Admision: : Cambia el paciente de una admision existente.
      dd Lista de Admisiones: Enlista todas las admisiones registradas en el sistema.

      dt Habitaciones
      dd Ver Camas: Muestra todas las camas por habitaciones con estado.