extends ../layout.pug
include ../mixins.pug
block navbar 
  include ../mixinsNavbar.pug
  +navbarAdmision
block main  
  - var etap = typeof etapa !== 'undefined' ? etapa : ""
  if etap === "crear"
    - var mensajeAlert = "Paciente creado correctamente."
    - var alertClass = "alert-success"
  else if etap === "modificar"
    - var mensajeAlert = "Paciente modificado correctamente."
    - var alertClass = "alert-success"
  else if etap === "error"
    - var mensajeAlert = "Error al crear/modificar el paciente. Verifique los datos ingresados."
    - var alertClass = "alert-danger"
  if etap
    .w-75.container
      +alert(mensajeAlert,alertClass)
  .container-md.border.border-2.border-dark.rounded-3.d-flex.justify-content-center.align-items-center.checkdni
    form.p-4(method="POST",action='/admision/check')
      input(type="hidden", name="navbar", value=navbar)
      h1.form-label(for="dni") Verificar DNI para #{navbar}
      br
      input.form-control(type="number", placeholder="48789651", name="dni")
      br      
      button.btn.btn-primary(type="submit") Verificar 
  br
  if emergencia 
    form(method="POST", action="/admision/emergencia")
      .placeholder-wave.container.d-flex.justify-content-center.align-items-center
        button#btnEmergencia.placeholder.border.rounded-2.cEmergencia(type="submit")  Emergencia
        
        //- este boton emergencia crea un paciente generico y redirige a admision mostrando el id temporal
