extends layout

block main 
  .container.d-flex.justify-content-center.align-items-center
    a.btn.btn-primary(href="/admision") Admision
    //- a.btn.btn-secondary(href="#") Medico
    //- a.btn.btn-success(href="#") Enfermeria
    //- a.btn.btn-danger(href="#") Admin