extends layout

block main 
  .btn-group(role="group" aria-label="Opciones")
    a.btn.btn-primary(href="/admision") Admision
    a.btn.btn-secondary(href="#") Medico
    a.btn.btn-success(href="#") Enfermeria
    a.btn.btn-danger(href="#") Admin