extends layout
include mixins

block main
  .container-md.border.border-2.border-dark.rounded-3.d-flex.justify-content-center.align-items-center.form-box.mt-5
    form.p-4.w-100(method="POST", action="/login", novalidate)
      h2.text-center.mb-4 Iniciar Sesión
      if mensajeAlert
        +alert(mensajeAlert, alertClass)

      .mb-3
        label.form-label(for="username") Usuario
        input.form-control(type="text",id="username",name="username", placeholder="Ingrese su usuario", autocomplete="username", autofocus
        )

      .mb-3
        label.form-label(for="password") Contraseña
        input.form-control(
          type="password", id="password",name="password", placeholder="Ingrese su contraseña", autocomplete="current-password")

      .d-flex.justify-content-between.align-items-center.mt-4
        button.btn.btn-primary(type="submit") Ingresar
