mixin navbarAdmision()
  ul.nav.nav-underline.fs-4.ms-auto 
    li.nav-item
      a.nav-link.text-primary-emphasis(href="/admision") Inicio
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="", role="button", data-bs-toggle="dropdown") Pacientes
      ul.dropdown-menu
        li
          a.dropdown-item(href="/admision/crearPaciente ") Gestion 
        li
          a.dropdown-item(href="/admision/listarPacientes") Lista
        
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="#", role="button", data-bs-toggle="dropdown") Admision
      ul.dropdown-menu
        li
          a.dropdown-item(href="/admision/gestionarAdmision") Admision  
        li
          a.dropdown-item(href="/admision/cambiarPacienteAdmisiones") Cambiar Paciente Admision
        li
          a.dropdown-item(href="/admision/listaAdmision") Lista 
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="#", role="button", data-bs-toggle="dropdown") Habitacion
      ul.dropdown-menu
        li
          a.dropdown-item(href="/admision/listaCamas") Ver Camas
        //-li
          a.dropdown-item(href="#") Buscar Camas   
        //-li  
          a.dropdown-item(href="#") Gestion Habitaciones 
        //-li
          a.dropdown-item(href="#") Gestion Camas                 
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="#", role="button", data-bs-toggle="dropdown") Turnos
      ul.dropdown-menu
        li
          a.dropdown-item(href="/admision/listaTurnos") Ver Turnos
        li
          a.dropdown-item(href="/admision/turno") Gestion Turno
    li.nav-item
      a.nav-link.text-primary-emphasis(href="/logout") Salir

mixin navbarMedico()
  ul.nav.nav-underline.fs-4.ms-auto 
    li.nav-item
      a.nav-link.text-primary-emphasis(href="/admision/inicio") Inicio
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="#", role="button", data-bs-toggle="dropdown") Pacientes
      ul.dropdown-menu
        li
          a.dropdown-item(href="/adcrearPaciente") Gestion 
        li
          a.dropdown-item(href="#") Busqueda 
        li
          a.dropdown-item(href="#") Lista
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="#", role="button", data-bs-toggle="dropdown") Admision
      ul.dropdown-menu
        li
          a.dropdown-item(href="/paciente/check?navbar=admision") Admision  
        li
          a.dropdown-item(href="#") Modificacion 
        li
          a.dropdown-item(href="#") Lista 
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="#", role="button", data-bs-toggle="dropdown") Habitacion
      ul.dropdown-menu
        li
          a.dropdown-item(href="#") Ver Habitaciones
        li
          a.dropdown-item(href="#") Buscar Camas   
        li  
          a.dropdown-item(href="#") Gestion Habitaciones 
        li
          a.dropdown-item(href="#") Gestion Camas                 
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle.text-primary-emphasis(href="#", role="button", data-bs-toggle="dropdown") Turnos
      ul.dropdown-menu
        li
          a.dropdown-item(href="#") Crear turno
        li
          a.dropdown-item(href="#") Modificar turno 
        li
          a.dropdown-item(href="#") Ver turnos