extends ../layout.pug
block scripts 
  script(src="./script/verificarDni.js") 
block main
  //-dis usa true o false para habilitar o deshabilitar el formulario 2
  //-vdni trae el dni este o no este en el sistema
  -let vdni=dni||''
  div.container-md.border.border-2.border-dark.rounded-3.d-flex.justify-content-center.align-items-center.form-box
    form.p-4(novalidate, action="/admision/admision", method="GET")
      h2.text-center Admision
      br
      .input-group.mb-3
        input.form-control(type="number", placeholder="DNI",for="dni",value=vdni)
          button.btn.btn-outline-light(type="submit", id="button-verificar", onclick="verificarDni(document.getElementById('dni').value)") Verificar
    form.p-4(novalidate, action="/admision/registrar", method="POST",for="dni")
      fieldset (disabled =!dis)
        .d-none
          input.form-control(type="number", placeholder="DNI",for="dni",value=vdni)
            button.btn.btn-outline-light(type="button", id="button-verificar", onclick="verificarDni(document.getElementById('dni').value)") Verificar
        .mb-3
          label.form-label(for="lastname") Apellido
          input.form-control(type="email", id="exampleInputEmail1", placeholder="Sosa Perez", aria-describedby="emailHelp")
       