extends layout.pug
include mixins.pug

block content
  .container.mt-5.p-4.border.border-2.rounded
    form(action="/submit", method="post")
      .mb-3
        label.form-label(for="name") Nombre
        input.form-control(type="text", id="name", name="name", placeholder="Ingrese su nombre", required)
      .mb-3
        label.form-label(for="email") Correo electrónico
        input.form-control(type="email", id="email", name="email", placeholder="Ingrese su correo electrónico", required)
      .mb-3
        label.form-label(for="message") Mensaje
        textarea.form-control(id="message", name="message", rows="4", placeholder="Escriba su mensaje", required)
      button.btn.btn-primary(type="submit") Enviar 